<nz-layout>
  <nz-header>
    <h1>Angular<i>.js</i><small> Template Updater</small></h1>
    <a class="github"
       target="_blank"
       href="https://github.com/hsuanxyz/ng1-template-updater">
      <i nz-icon nzType="github" nzTheme="outline"></i>
    </a>
  </nz-header>
  <nz-layout>
    <nz-content>
      <div #container style="height:100%;"></div>
    </nz-content>
    <nz-sider nzWidth="320px">
      <button nz-button
              [disabled]="!canFix"
              class="fix-btn"
              nzSize="small"
              nzType="primary"
              (click)="fix()">
        Quick Fix
      </button>
        <div class="messages">
          <div class="message"
               (click)="scrollToLine(item)"
               *ngFor="let item of failures">
            <i *ngIf="item.level === 0" nz-icon class="error" nzType="stop" nzTheme="outline"></i>
            <i *ngIf="item.level === 2" nz-icon class="close" nzType="issues-close" nzTheme="outline"></i>
            <span class="position"> ({{(item.pos.line + 1) + ',' + (item.pos.character + 1)}})</span>
            {{item.message}}
            <a *ngIf="item.url" [href]="item.url" target="_blank">more</a>
          </div>
        </div>
    </nz-sider>
  </nz-layout>
</nz-layout>
